body {
  font-family: 'Poppins', sans-serif;
  background: #f2f2f2;
  padding: 20px;
}

.container {
  background: white;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  font-family: 'Poppins', sans-serif;
}

#assinatura-preview {
  position: relative;
  width: 100%;
  max-width: 1600px;
  height: auto;
  border: 1px solid #ccc;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

#imagem-assinatura {
  width: 100%;
  display: block;
}

/* Ajuste fino do posicionamento sobre a imagem */
#texto-sobreposto {
  position: absolute;
  top: 20px;     /* ajustado conforme a imagem */
  left: 25px;    /* alinhamento mais à esquerda */
  color: #000;
  padding: 8px;
  width: 600px;
  line-height: 1.4em;
}

/* Nome */
#preview-nome {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 10px;
}

/* Cargo (sem sublinhado) */
#preview-cargo {
  font-weight: 400;
  font-size: 20px;
  color: #444;
  margin-bottom: 30px;
}

/* Telefone */
#preview-telefone {
  font-weight: 900;
  font-size: 22px;
  display: block;
  margin-top: 33px;
}
